<!DOCTYPE html>
<html>
<head>
    <style>
        body { font-family: Arial; }
        table { width: 100%; border-collapse: collapse; }
        th, td { border: 1px solid #333; padding: 8px; text-align: left; }
    </style>
</head>
<body>
    <h2>{{ title }}</h2>
    <table width="100%" border="=0" bgcolor="lightblue">
        <tr>
            <td colspan="4"><font color="red" size="7"><b><h1>YIELDHUB<br>Your one-stop platform for agricultural land needs</h1><br></font></td>
                <tr>
                    <td colspan="4" align="center"><b><font color="green"><h1></b></font>
        </table>

    <table bgcolor="white">
        <tr>
            <th>ID</th>
            <th>Owner</th>
            <th>Location</th>
        </tr>
        {% for land in lands %}
        <tr>
            <td>{{ land.id }}</td>
            <td>{{ land.owner }}</td>
            <td>{{ land.location }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>